"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
    use:
      "atom-ide-terminal": "never"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  core:
    debugLSP: true
    disabledPackages: [
      "language-perl"
      "linter"
      "rustfmt"
    ]
    packagesWithKeymapsDisabled: [
      "vk-terminal"
      "prettier-atom"
      "atom-select-npm-install"
      "npm-helper"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "lychee-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "fira code"
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
  "exception-reporting":
    userId: "0a005746-a4e0-430f-a13d-76d421203de7"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNoConfigFile: true
      showInStatusBar: true
    useEslint: true
    useStylelint: true
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  swackets:
    colorParens: true
    colorSquareBrackets: true
    colors: [
      "#ff5a80"
      "#ddaa66"
      "#aaaa00"
      "#33cc99"
      "#3399ff"
      "#cc66cc"
      "#0000ff"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  "vk-terminal":
    ansiColors:
      normal:
        blue: "#407acd"
        cyan: "#22a6cd"
        green: "#4ecd82"
        magenta: "#cd1669"
        red: "#cd4b3c"
        yellow: "#becd18"
      zBright:
        brightBlue: "#3388ff"
        brightCyan: "#2ec2ff"
        brightGreen: "#69ffa6"
        brightMagenta: "#ff408b"
        brightRed: "#ff573d"
        brightYellow: "#fffe30"
    core:
      mapTerminalsTo: "File"
      shell: "/bin/sh"
    style:
      animationSpeed: 100
    toggles:
      autoClose: true
  welcome:
    showOnStartup: false
