'atom-text-editor':
	'alt-tab': 'editor:auto-indent'
	'cmd-d': 'find-and-replace:select-next'
	'ctrl-a': 'editor:move-to-first-character-of-line'
	'ctrl-e': 'editor:move-to-end-of-screen-line'
	'ctrl-p': 'core:move-up'
	'ctrl-n': 'core:move-down'
	'ctrl-g': 'core:cancel'

'body':
	'ctrl-_': 'core:undo'
	'ctrl-shift-tab': 'pane:show-previous-item'
	'ctrl-tab': 'pane:show-next-item'
	'cmd-{': 'pane:show-previous-item'
	'cmd-}': 'pane:show-next-item'
	'cmd-c': 'core:copy'
	'cmd-v': 'core:paste'
	'cmd-x': 'core:cut'
	'cmd-w': 'core:close'
	'cmd-s': 'core:save'
	'cmd-z': 'core:undo'
	'cmd-shift-z': 'core:redo'
	'alt-x': 'command-palette:toggle'

'.platform-linux .atom-ide-terminal .terminal, .platform-win32 .atom-ide-terminal .terminal':
  'cmd-c': 'atom-ide-terminal:copy'
  'cmd-v': 'atom-ide-terminal:paste'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'cmd-j': 'atom-ide-terminal:toggle'

'.platform-win32, .platform-linux':
	'cmd-\\': 'tree-view:toggle'

'.autocomplete-active':
	'ctrl-g': 'autocomplete-plus:cancel'

'.platform-darwin .vk-terminal .terminal':
	'cmd-c': 'vk-terminal:copy'
	'cmd-v': 'vk-terminal:paste'
