packages: [
  "atom-ide-ui"
  "atom-perl6-editor-tools"
  "build"
  "busy-signal"
  "file-icons"
  "hyperclick"
  "ide-perl6"
  "ide-rust"
  "ide-typescript"
  "language-nginx"
  "language-perl6"
  "linter"
  "lychee-syntax"
  "package-sync"
  "prettier-atom"
  "remote-atom"
  "swackets"
  "vk-terminal"
]
