packages: [
  "atom-ide-ui"
  "atom-ternjs"
  "build"
  "busy-signal"
  "editorconfig"
  "fast-eslint"
  "file-icons"
  "hyperclick"
  "ide-rust"
  "ide-typescript"
  "language-nginx"
  "language-perl6"
  "linter"
  "linter-eslint"
  "lychee-syntax"
  "package-sync"
  "prettier-atom"
  "remote-atom"
  "rustfmt"
  "vk-terminal"
  "Zen"
]
